.weekview-allday-table{
	display: none;
}

.ios, .md, .wp {
	page-reserva {
		.logo {
	    width: 40px;
			height: 40px;
			margin-left: 5px;
			border-radius: 50%;
		}
		ion-item {
			background-color: transparent;
			border-bottom: none;
			font-size: 1.4rem;
			.item-inner {
				border: none;
			}
			&.item-block {
				.item-inner, &:first-child, &:last-child {
					border-bottom: 0;
					border-top: none;
					border-bottom: none;
				}
			}
		}
		.calendar-reserva .event-detail-container .item:first-child {
			margin-top: 15px;
		}
		.calendar-title {
			text-transform: capitalize;
			margin-bottom: 15px;
		}
		.event-detail-container {
			border-top: none;
		}
		.monthview-current {
			border: none !important;
		}
		.monthview-selected {
			background-color: rgba(0, 0, 0, 0.3) !important;
		}
		.monthview-primary-with-event, .monthview-secondary-with-event {
			background-color: rgba(255, 255, 255, 0.3);
		}
	}
}
