.ios, .md, .wp {
	page-serie {
		.logo {
	      	width: 40px;
			height: 40px;
			margin-left: 5px;
			border-radius: 50%;
		}
		ion-item {
			background-color: transparent;
			border-bottom: none;
			font-size: 1.4rem;
			.item-inner {
				border: none;
			}
			&.item-block {
				.item-inner, &:first-child, &:last-child {
					border-bottom: 0;
					border-top: none;
					border-bottom: none;
				}
			}
		}
	}
}
