<ion-header>
  <ion-navbar [ngStyle]="layout.setToolbarColor('ion-navbar', 'secondary', 'danger')">
    <ion-title>{{ data?.descricao }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [ngStyle]="layout.setBackgroundColor('dark')">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let data of dataSessoes; let i = index;" [ngStyle]="layout.setStripedColor(i, 'dark', 'darklight')">
      <h2 class="sessao" [ngStyle]="layout.setColor('light')">{{ data?.sessao }}</h2>
      <div class="item-sessao" *ngFor="let item of selectPerguntas(data);">
        <div *ngIf="isAnswered(item)">
          <h4 style="white-space:normal;" [ngStyle]="layout.setColor('light')"><b>{{ item?.pergunta }}</b></h4>
          <div *ngIf="show(item)">
            <p style="white-space:normal;" [ngStyle]="layout.setColor('light')">{{ item?.resposta }}</p>
          </div>
          <div *ngIf="isMultiplaEscolha(item)">
            <p style="white-space:normal;" [ngStyle]="layout.setColor('light')">{{ unserializeToText(item) }}</p>
          </div>
        </div>
        <div *ngIf="isUpload(item)" class="centered">
          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <img-loader height="auto !important" width="100%" class="img-sessao" *ngIf="!isPDF(item)" src="{{ util.baseUrl }}/imgs-avaliacao/{{ unserializeToUpload(item) }}" alt="" useImg></img-loader>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-4>
                <button *ngIf="isPDF(item)" ion-button [ngStyle]="layout.setBackgroundColor('primary')" block round (click)="link(item)"><ion-icon name="ios-share" [ngStyle]="layout.setColor('danger')"></ion-icon></button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
