.ios, .md {
	page-dashboard {
		.m-l-25p {
			margin-left: 25%;
		}
		ion-content {
			background-color: map-get($colors, dark);
			.data-logo {
				text-align: center;
				margin-top: 10px;
				img {
					width: 240px;
					height: 240px;
					border-radius: 30px;
				}
			}
			.data-bodily {
				ion-grid {
					ion-row {
						ion-col {
							ion-card {
								background-color: map-get($custom-colors, dark-light);
								margin: 0;
								text-align: center;
								width: 100%;
								ion-icon {
									color: map-get($colors, secondary);
									display: block;
									font-size: 4rem;
								}
								small {
									color: lighten( map-get($custom-colors, dark-light) , 15%);
									font-weight: 600;
									text-transform: uppercase;
								}
							}
						}
					}
				}
			}
		}
	}
}
