<ion-content [ngStyle]="layout.setBackgroundColor('dark')">
	<div class="user" (click)="goToFacebook()">
	<img-loader class="user-img" src="{{ userImg }}" useImg></img-loader>
	<ion-badge *ngIf="showPontos" class="user-ranking" [ngStyle]="layout.setBackgroundColor('primary')">{{ pontos }}</ion-badge>
	</div>
	<div class="logo">
		<img-loader src="{{ util.baseUrl }}/logos/{{ util.getStorage('logo') }}.png" useImg width="{{width}}" height="{{height}}"></img-loader>
	</div>
	<div class="menu">
		<ion-grid>
			<ion-row>
				<ion-col col-6 *ngFor="let item of menu;" class="{{ item.class }}">
					<ion-card (click)="openPage(item.component)" [ngStyle]="layout.setBackgroundColor('primary')">
						<ion-card-content>
							<small [ngStyle]="layout.setColor('danger')">{{ item.title }}</small>
							<ion-icon [ngStyle]="layout.setColor('danger')" name="{{ item.icon }}"></ion-icon>
						</ion-card-content>
					</ion-card>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	<ion-fab top right>
		<button (click)="logout()" ion-fab icon-only mini [ngStyle]="layout.setBackgroundColor('primary')">
			<ion-icon [ngStyle]="layout.setColor('danger')" name="md-log-out"></ion-icon>
		</button>
  	</ion-fab>
</ion-content>
