.ios, .md, .wp {
	page-dashboard {
		.m-l-25p {
			margin-left: 25%;
		}
		.fab-ios {
			margin-top: 20px;
		}
		.user {
			.user-img img {
				border-radius: 50%;
				height: 60px;
				margin-top: 15px;
				margin-left: 15px;
				position: fixed;
			}
			.user-ranking {
				margin-top: 60px;
				margin-left: 50px;
				padding: 6px;
				position: fixed;
				border-radius: 50%;
				color: #ffffff;
			}
		}
		.logo {
			text-align: center;
			margin-top: 20px;
			margin-bottom: 20px;
			img {
				width: 80%;
				height: 80%;
			}
		}
		.logout {
			.logout-button {
				border-radius: 50%;
				height: 40px;
				width: 40px;
				top: 15px;
				right: 15px;
				position: fixed;
			}
		}
		ion-card {
			margin: 0;
			text-align: center;
			width: 100%;
			ion-icon {
				display: block;
				font-size: 4rem;
			}
			small {
				font-weight: 600;
				text-transform: uppercase;
			}
		}
	}
}
