<ion-header>
  <ion-navbar [ngStyle]="layout.setToolbarColor('ion-navbar', 'secondary', 'light')">
    <ion-title>{{ data.descricao }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [ngStyle]="layout.setBackgroundColor('dark')" style="margin-top:45px;">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="running" [ngStyle]="layout.setBackgroundColor('dark')" ion-fixed>
    <ion-row>
      <ion-col col-3>
        <button ion-button style="background:red;" block round small (click)="create(); stop()"><ion-icon [ngStyle]="layout.setColor('light')" name="square"></ion-icon></button>
      </ion-col>
      <ion-col col-6>
        <h3 class="timer-clock" [ngStyle]="layout.setColor('light')">{{ timer.display }}</h3>
      </ion-col>
      <ion-col col-3>
        <button ion-button style="background:green;" block round small *ngIf="!timer.running" (click)="start()"><ion-icon [ngStyle]="layout.setColor('light')" name="play"></ion-icon></button>
        <button ion-button style="background:green;" block round small *ngIf="timer.running" (click)="stop()"><ion-icon [ngStyle]="layout.setColor('light')" name="pause"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="_toggle">
    <ion-list>
      <ion-item *ngFor="let item of dataExercicios; let i = index;" [ngStyle]="layout.setStripedColor(i, 'darklight', 'dark')" [ngClass]="{'done' : isDone(i)}">
        <ion-grid>
          <ion-row>
            <h2 [ngStyle]="layout.setColor('light')">{{ item.descricao_ex }}</h2>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <img-loader height="auto !important" width="100%"  src="{{ util.baseUrl }}/exercicios/{{ item.id_exercicio }}-0.gif" useImg></img-loader>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <ion-grid>
                <ion-row>
                  <ion-col col-6>
                    <p [ngStyle]="layout.setColor('light')">{{ item.tipo_repeticao }}: {{item.num_repeticao}}</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-6>
                    <p [ngStyle]="layout.setColor('light')">Intervalo: {{ item.intervalo }}s</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-6>
                    <p [ngStyle]="layout.setColor('light')">Carga: {{ item.carga }}</p>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="item.nota">
                  <ion-col col-6>
                    <p [ngStyle]="layout.setColor('light')">Nota: {{ item.nota }}</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col>
              <button ion-button [ngStyle]="layout.setBackgroundColor('primary')" block round small (click)="intervalo(item)"><ion-icon [ngStyle]="layout.setColor('light')" name="ios-timer-outline" ouline></ion-icon></button>
            </ion-col>
            <ion-col>
              <button ion-button [ngStyle]="layout.setBackgroundColor('primary')" block round small (click)="update(item)"><ion-icon [ngStyle]="layout.setColor('light')" name="md-create" outline></ion-icon></button>
            </ion-col>
            <ion-col>
              <button ion-button [ngStyle]="layout.setBackgroundColor('primary')" block round small (click)="done(i)"><ion-icon [ngStyle]="layout.setColor('light')" name="md-checkmark"></ion-icon></button>
            </ion-col>
            <ion-col *ngIf="item.video">
              <button ion-button [ngStyle]="layout.setBackgroundColor('danger')" block round small (click)="video(item)"><ion-icon [ngStyle]="layout.setColor('light')" name="videocam"></ion-icon></button>
              </ion-col>
            </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
