<ion-header>
  <ion-navbar [ngStyle]="layout.setToolbarColor('ion-navbar', 'secondary', 'light')">
    <ion-title>Nova Avaliação</ion-title>
    <ion-buttons right>
      <div (click)="doCreate()">
        <ion-icon class="avaliacao-form-add" name="create" [ngStyle]="layout.setColor('light')"></ion-icon>
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content [ngStyle]="layout.setBackgroundColor('dark')">

  <ion-list padding>
    <ion-item [ngStyle]="layout.setBackgroundColor('dark')">
      <ion-label [ngStyle]="layout.setColor('light')">Avaliação</ion-label>
      <ion-select [ngStyle]="layout.setAlertColor(true)" [(ngModel)]="id_avaliacao" (ionChange)="selectPerguntas()">
        <ion-option value="{{ item.id_avaliacao }}" *ngFor="let item of dataAvaliacao">{{ item.avaliacao }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col col-12 *ngFor="let item of dataPergunta; let i = index;">
        <ion-card [ngStyle]="layout.setStripedColor(i, 'dark', 'darklight')">
          <ion-card-header [ngStyle]="layout.setColor('light')">{{ item.pergunta }}</ion-card-header>
          <ion-card-content>
            <div *ngIf="isTipoPergunta(item.id_tipo_pergunta, 1)">
              <ion-list radio-group [(ngModel)]="item.resposta">
                <ion-item *ngFor="let radio of selectOpcoes(item.id_pergunta); let j = index;" [ngStyle]="layout.setStripedColor(i, 'dark', 'darklight')">
                  <ion-label item-start>{{ radio?.opcao }}</ion-label>
                  <ion-radio item-end value="{{ radio?.id_opcao }}"></ion-radio>
                </ion-item>
              </ion-list>
            </div>
            <div *ngIf="isTipoPergunta(item.id_tipo_pergunta, 2)">
              <ion-item [ngStyle]="layout.setStripedColor(i, 'dark', 'darklight')">
                <ion-textarea placeholder="Descrição..." [(ngModel)]="item.resposta" [ngStyle]="layout.setColor('light')"></ion-textarea>
              </ion-item>
            </div>
            <div *ngIf="isTipoPergunta(item.id_tipo_pergunta, 3)">
              <ion-item *ngFor="let checkbox of selectOpcoes(item.id_pergunta); let j = index;" [ngStyle]="layout.setStripedColor(i, 'dark', 'darklight')">
                <ion-label item-start>{{ checkbox?.opcao }}</ion-label>
                <ion-checkbox item-end [(ngModel)]="item.resposta[checkbox?.id_opcao]"></ion-checkbox>
              </ion-item>
            </div>
            <div *ngIf="isTipoPergunta(item.id_tipo_pergunta, 5)">
              <ion-item [ngStyle]="layout.setStripedColor(i, 'dark', 'darklight')">
                <ion-input placeholder="Descrição..." [(ngModel)]="item.resposta" [ngStyle]="layout.setColor('light')"></ion-input>
              </ion-item>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
