.ios, .md, .wp {
	page-informacao {
		.logo {
	    width: 40px;
			height: 40px;
			margin-left: 5px;
			border-radius: 50%;
		}
		ion-card {
			margin: 0;
			text-align: center;
			width: 100%;
			.img-informacao {
				margin-top: -50px;
				margin-bottom: -60px;
			}
			.img-mensagem {
				margin-top: -10px;
				margin-bottom: -15px;
			}
			ion-card-content {
				p {
					text-align: justify;
				}
			}
		}
	}
}
