<ion-header>
  <ion-navbar hideBackButton [ngStyle]="layout.setToolbarColor('ion-navbar', 'secondary', 'danger')">
    <ion-buttons left>
      <div (click)="goToDashboard()">
        <ion-icon class="page-icon-menu" name="menu" [ngStyle]="layout.setColor('danger')"></ion-icon>
      </div>
    </ion-buttons>
    <ion-title>{{ dataInformacao[0]?.nome }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [ngStyle]="layout.setBackgroundColor('dark')">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-toolbar [ngStyle]="layout.setToolbarColor('ion-toolbar', 'dark', 'light')">
    <ion-segment [(ngModel)]="tab" color="secondary">
        <ion-segment-button [ngStyle]="layout.setSegmentButtonColor()" value="mensagem">
            Mensagens
        </ion-segment-button>
        <ion-segment-button [ngStyle]="layout.setSegmentButtonColor()" value="informacao">
        Informações
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <div [ngSwitch]="tab">
    <div *ngSwitchCase="'mensagem'">
      <ion-grid>
        <ion-row>
          <ion-col col-12 *ngFor="let item of dataMensagem; let i = index;">
            <ion-card [ngStyle]="layout.setBackgroundColor('darklight')">
              <ion-card-header [ngStyle]="layout.setColor('light')">{{ item.titulo }}</ion-card-header>
              <div padding *ngIf="showImg(item)">
                <img class="img-mensagem" src="{{ util.baseUrl }}/imgs-mensagem/{{ item.id_mensagem }}.png"/>
              </div>
              <ion-card-content [ngStyle]="layout.setColor('light')">
                {{ item.texto }}
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>    
    <div *ngSwitchCase="'informacao'">
      <ion-grid>
        <ion-row>
          <ion-col col-12 *ngFor="let item of dataInformacao; let i = index;">
            <ion-card [ngStyle]="layout.setBackgroundColor('darklight')">
              <img class="img-informacao" src="{{ logo()}}" />
              <ion-card-content>
                <p [ngStyle]="layout.setColor('light')">
                  {{ item.resumo }} <br>
                  <span class="email" [ngStyle]="layout.setColor('primary')">{{ item.email }}</span>
                </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
