<ion-header>
  <ion-navbar hideBackButton [ngStyle]="layout.setToolbarColor('ion-navbar', 'secondary', 'danger')">
    <ion-buttons left>
      <div (click)="goToDashboard()">
        <ion-icon class="page-icon-menu" name="menu" [ngStyle]="layout.setColor('danger')"></ion-icon>
      </div>
    </ion-buttons>
    <ion-title>Gráficos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [ngStyle]="layout.setBackgroundColor('dark')">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let data of dataGrafico; let i = index;" [ngStyle]="layout.setStripedColor(i, 'dark', 'darklight')" >
      <h2 class="sessao" [ngStyle]="layout.setColor('light')">{{ data?.sessao }}</h2>
      <div (click)="graphic(item)" class="item-sessao" [ngStyle]="{opacity : item.active?1:0.5}" *ngFor="let item of selectPerguntas(data);" >
        <p [ngStyle]="layout.setColor('light')" >{{ item?.pergunta }}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-grid [ngStyle]="layout.setBackgroundColor('dark')">
    <canvas #chart></canvas>
  </ion-grid>
</ion-footer>
