<ion-header>
  <ion-navbar hideBackButton [ngStyle]="layout.setToolbarColor('ion-navbar', 'secondary', 'light')">
    <ion-buttons left>
      <div (click)="goToDashboard()">
        <img class="logo" src="{{ util.baseUrl }}/logos/{{ util.logo }}.png" alt="">
      </div>
    </ion-buttons>
    <ion-title>Gráficos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [ngStyle]="layout.setBackgroundColor('dark')">
  <ion-list>
    <ion-item *ngFor="let data of dataGrafico; let i = index;" [ngStyle]="layout.setStripedColor(i, 'dark', 'darklight')">
      <h2 class="sessao" [ngStyle]="layout.setColor('light')">{{ data?.sessao }}</h2>
      <div class="item-sessao" *ngFor="let item of selectPerguntas(data)">
        <p (click)="modal(item)" [ngStyle]="layout.setColor('light')">{{ item?.pergunta }}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
