ion-alert {
	.alert-wrapper {
		display: none;
		.alert-button {
			border-top: 0;
		}
  	.alert-input-wrapper {
    		input {
      		background-color: transparent;
      		border: none;
      		font-size: 16px;
    		}
  	}
	}
}