.btn-circle {
		border-radius: 50%;
		width: 35px;
		height: 35px;
	}
.page-icon-menu {
	font-size: 30px;
	margin-left: 15px;
}
ion-alert {
	.alert-wrapper {
    display: none;
		.alert-sub-title {
			text-align: center;
			img {
				width: 40px;
				margin-top: 10px;
			}
		}
		.alert-button {
			border-top: 0;
		}
  	.alert-input-wrapper {
			input {
	  		background-color: transparent;
	  		border: none;
	  		font-size: 16px;
			}
  	}
	}
}
