<ion-content class="treino-modal">

      <div class="overlay" (click)="dismiss()"></div>

      <div class="treino-modal-body" [ngStyle]="layout.setBackgroundColor('dark')">

        <h2 class="treino-title" [ngStyle]="layout.setColor('light')">Registrar Treino</h2>

        <form [formGroup]="form" (ngSubmit)="doCreate(form.value)">

          <ion-list>
            <ion-item [ngStyle]="layout.setBackgroundColor('dark')">
              <ion-label [ngStyle]="layout.setColor('light')">Treino</ion-label>
              <ion-select [ngStyle]="layout.setAlertColor(true)" formControlName="id">
                <ion-option value="{{ item.id }}" *ngFor="let item of data">{{ item.descricao }}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item [ngStyle]="layout.setBackgroundColor('dark')">
              <ion-label [ngStyle]="layout.setColor('light')">Inicío</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY HH:mm" formControlName="data_inicio" [ngStyle]="layout.setColor('light')"></ion-datetime>
            </ion-item>
            <ion-item [ngStyle]="layout.setBackgroundColor('dark')">
              <ion-label [ngStyle]="layout.setColor('light')">Tempo (hh:mm)</ion-label>
              <ion-datetime displayFormat="HH:mm" formControlName="time" hourValues="0,1,2" [ngStyle]="layout.setColor('light')"></ion-datetime>
            </ion-item>
          </ion-list>

          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let item of items; let i = index;">
                <img [ngClass]="{'unselected' : this.form.controls['borg'].value !== item.img, 'selected' : this.form.controls['borg'].value === item.img}" src="assets/img/treino-modal/{{ item.img }}.png" (click)="setBorg(item.img)">
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label [ngStyle]="layout.setColor('light')">Algum Comentário ?</ion-label>
                <ion-textarea formControlName="comentario"></ion-textarea>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <button type="button" [ngStyle]="layout.setBackgroundColor('primary')" [ngStyle]="layout.setColor('light')" ion-button round small (click)="dismiss()">Cancelar</button>
              </ion-col>
              <ion-col col-6>
                  <button type="submit" [disabled]="buttonDisabled" [ngStyle]="layout.setBackgroundColor('primary')" [ngStyle]="layout.setColor('light')" ion-button round small>Confirmar</button>
                </ion-col>
              </ion-row>
          </ion-grid>
        </form>
    </div>
    </ion-content>
