.ios, .md {
	page-treino-form {
		ion-item {
			background-color: transparent;
			border-bottom: none;
			font-size: 1.4rem;
			.item-inner {
				border: none;
			}
			&.item-block {
				.item-inner, &:first-child, &:last-child {
					border-bottom: 0;
					border-top: none;
					border-bottom: none;
				}
			}
			.img {
				margin-top: 25%;
				width: 110px;
				height: 110px;
			}
		}
		.timer-clock {
			text-align: center;
			margin: 0 auto;
			margin-top: 3%;
		}
		.done {
			opacity: 0.3;
		}
	}
}
