<ion-content class="treino-modal">
    
      <div class="overlay" (click)="dismiss()"></div>
    
      <div class="treino-modal-body" [ngStyle]="layout.setBackgroundColor('dark')">
    
        <h2 class="treino-title" [ngStyle]="layout.setColor('light')">Registrar Treino</h2>
    
        <form [formGroup]="form" (ngSubmit)="doCreate(form.value)">
    
          <ion-grid>
            <ion-row>
              <ion-label [ngStyle]="layout.setColor('light')">Treino</ion-label>
              <ion-select [ngStyle]="layout.setAlertColor(true)" formControlName="id" (ionChange)="selectSeries()">
                <ion-option value="{{ item.id }}" *ngFor="let item of series">{{ item.descricao }}</ion-option>
              </ion-select>
            </ion-row>
          </ion-grid>
      
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let item of items; let i = index;">
                <img [ngClass]="{'unselected' : this.form.controls['borg'].value !== item.img, 'selected' : this.form.controls['borg'].value === item.img}" src="assets/img/treino-modal/{{ item.img }}.png" (click)="setBorg(item.img)">
              </ion-col>
            </ion-row>
          </ion-grid>
    
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label [ngStyle]="layout.setColor('light')">Algum Comentário ?</ion-label>
                <ion-textarea formControlName="comentario"></ion-textarea>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid>
            <ion-row>
              <ion-item>
                <ion-label>Início</ion-label>
                <ion-datetime formControlName="data_inicio" displayFormat="DD/MMM/YYYY HH:mm"></ion-datetime>
              </ion-item>          
            </ion-row>
          </ion-grid>
    
          <ion-grid>
            <ion-row>
              <ion-item>
                <ion-label>Fim</ion-label>
                <ion-datetime formControlName="data_fim" displayFormat="DD/MMM/YYYY HH:mm"></ion-datetime>
              </ion-item>          
            </ion-row>
          </ion-grid>
      
          <ion-grid>
            <ion-row>
              <ion-col>
                <button type="submit" [ngStyle]="layout.setBackgroundColor('primary')" [ngStyle]="layout.setColor('light')" ion-button round small>Confirmar</button>
              </ion-col>
              <ion-col>
                <button type="button" [ngStyle]="layout.setBackgroundColor('primary')" [ngStyle]="layout.setColor('light')" ion-button round small (click)="dismiss()">Cancelar</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </div>
    </ion-content>
    