.ios, .md {
	page-grafico-modal {
		.grafico-modal{
			background: transparent;
		}
		.overlay {
			position: fixed;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
  		}
	  	.grafico-modal-body {
			position: absolute;
		    top: calc(50% - (50%/2));
		    left: 10px;
		    right: 10px;
		    width: auto;
		    height: auto;
		    padding: 10px;
		    z-index: 100;
		    margin: 0 auto;
		    padding: 10px;
		    background-color: rgba(0, 0, 0, 0.3);
		    border-radius: 5px;
		    box-shadow: 2px 2px 2px 2px rgba(51, 51, 51, .35);
		    box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    -webkit-box-sizing: border-box;
		    overflow: hidden;
		    .grafico-title {
		    	margin-top: -2px;
		    	text-align: center;
		    	font-size: 18px;
		    }
		}
	}
}
