.ios, .md {
	page-treino-timer {
		.back-button {
			color:  map-get($colors, light);
		}
		.fixed-content, .scroll-content {
			margin-top: 0 !important;
		}
		ion-content {
			background-color: transparent;
			color: map-get($colors, light);
			text-align: center;
			.bg-wrapper {
				background-position: 50% 50%;
				background-size: cover;
				height: 100%;
				position: absolute;
				width: 100%;
			}
			.backdrop {
				background-color: rgba(map-get($colors, dark), 0.9);
				height: 100%;
		   	position: absolute;
				width: 100%;
			}
			.progress-wrapper {
				margin-top: 44px;
				padding: 30px 0;
				position: relative;
				.current {
					position: absolute;
					color: map-get($colors, secondary);
					font-weight: 100;
					line-height: 1;
				}
				round-progress {
					margin: auto;
					path {
						stroke-linecap: round;
					}
				}
			}
			.controls-wrapper {
				text-align: center;
			}
 		}
	}
}
