.ios, .md, .wp {
	page-treino-timer {
		ion-content {
			text-align: center;
			.bg-wrapper {
				background-position: 50% 50%;
				background-size: cover;
				height: 100%;
				position: absolute;
				width: 100%;
			}
			.progress-wrapper {
				margin-top: 30px;
				padding: 30px 0;
				position: relative;
				.current {
					position: absolute;
					color: map-get($colors, light);
					font-weight: 100;
					line-height: 1;
				}
				round-progress {
					margin: auto;
					path {
						stroke-linecap: round;
					}
				}
			}
			.controls-wrapper {
				text-align: center;
			}
 		}
	}
}
