<ion-header no-border>
  <ion-navbar [ngStyle]="layout.setToolbarColor('ion-navbar', 'secondary', 'light')">
    <ion-title>Timer</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [ngStyle]="layout.setBackgroundColor('secondary')">
	<div class="bg-wrapper">
		<div class="progress-wrapper">
			<div class="current" [ngStyle]="getOverlayStyle()">{{ timer.display }}s</div>
			<round-progress [current]="timer.display"
		      [max]="max"
		      [stroke]="stroke"
		      [radius]="radius"
		      [semicircle]="semicircle"
		      [rounded]="rounded"
		      [responsive]="responsive"
		      [clockwise]="clockwise"
		      [color]="gradient ? 'url(#gradient)' : color"
		      [background]="background"
		      [duration]="duration"
		      [animation]="animation"
		      [animationDelay]="animationDelay">
		    </round-progress>
		</div>

	    <div class="controls-wrapper">
				<button ion-button [ngStyle]="layout.setStripedColor(i, 'dark', 'danger')" round *ngIf="timer.running" (click)="restart()"><ion-icon name="refresh"></ion-icon></button>
	      <button ion-button [ngStyle]="layout.setStripedColor(i, 'dark', 'primary')" round *ngIf="!timer.running" (click)="start()"><ion-icon name="play"></ion-icon></button>
	    </div>

	</div>
</ion-content>
