<ion-header no-border>
  <ion-navbar [ngStyle]="layout.setToolbarColor('ion-navbar', 'secondary', 'light')">
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<div class="bg-wrapper" style="background-image:url('assets/img/workout/bg.jpg');">
		<div class="backdrop"></div>
		<div class="progress-wrapper">
			<div class="current" [ngStyle]="getOverlayStyle()">{{ current }}s</div>
			<round-progress [current]="current"
		      [max]="max"
		      [stroke]="stroke"
		      [radius]="radius"
		      [semicircle]="semicircle"
		      [rounded]="rounded"
		      [responsive]="responsive"
		      [clockwise]="clockwise"
		      [color]="gradient ? 'url(#gradient)' : color"
		      [background]="background"
		      [duration]="duration"
		      [animation]="animation"
		      [animationDelay]="animationDelay">
		    </round-progress>
		</div>

    <div class="controls-wrapper">
      <button ion-button [ngStyle]="layout.setStripedColor(i, 'dark', 'primary')" round *ngIf="!running" (click)="start()">START</button>
      <button ion-button [ngStyle]="layout.setStripedColor(i, 'dark', 'danger')" round *ngIf="running" (click)="stop()">STOP</button>
    </div>

	</div>
</ion-content>
